<h1>GITHUB</h1>
<img src="./assets/github.jpg" text-align="center">
<input name="title" #searchTerm>
 <button class="btn btn-outline-success m-3" (click)="performSearch(searchTerm)">Search Projects</button>
 <!-- <h1>LIST OF PROJECTS</h1>
 <ul>
<li><a href="https://natashasenah.github.io/portfolio/"></a>Portfolio</li>
  <p>This project tslks more about myself</p>
 <li><a href="https://natashasenah.github.io/Anitas-kitchen/">Anita Kitchen</a> </li>
<p>This is a project about a friends catering website.</p>
<li> <a href="https://natashasenah.github.io/ping-pong/">Ping Pong</a></li>
<p>This is a project about a game website.</p>
</ul> -->
    <app-github-form></app-github-form>
